/* Primary colors */
$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
/* Neutral colors */
$dark-blue: hsl(212, 21%, 14%);
$dark-greyish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $cream;
}

h1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 1.3rem;
  color: $dark-blue;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: $dark-greyish-blue;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: $dark-greyish-blue;
}

main {
  display: grid;
  place-items: center;
  height: 90vh;
}

.card {
  background: $white;
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: auto;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  img {
    max-width: 350px;
    height: auto;
    object-fit: cover;
  }
  .text-container {
    grid-column: 2;
    grid-row: 1;
    margin: 2rem;
    p {
      width: 200px;
    }
  }
}
