/* Primary colors */
$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
/* Neutral colors */
$dark-blue: hsl(212, 21%, 14%);
$dark-greyish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $cream;
}

h1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: $dark-blue;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  color: $dark-greyish-blue;
}

h3 {
  font-family: "Fraunces", serif;
  font-weight: 700;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: $dark-greyish-blue;
}

main {
  display: grid;
  place-items: center;
  height: 90vh;
  padding: 1rem;
}

.card {
  background: $white;
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: auto;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  img {
    max-width: 350px;
    height: auto;
    object-fit: contain;
  }
  .info-container {
    grid-column: 2;
    grid-row: 1;
    margin: 2rem;
    max-width: 350px;
    h1,
    h2,
    p {
      padding-bottom: 2rem;
      line-height: 1.5rem;
    }
    .price {
      display: flex;
      justify-content: start;
      align-items: center;
      .current-price {
        color: $dark-cyan;
        font-size: 2rem;
        margin-right: 1.5rem;
      }
      .old-price {
        text-decoration: line-through;
        color: $dark-greyish-blue;
        font-size: 1.5rem;
      }
    }
  }
  @media (max-width: 700px) {
    grid-template-columns: 300px;
    img {
      max-width: 300px;
    }
    .info-container {
      grid-column: 1;
      grid-row: 2;
      max-width: 300px;
    }
  }
}

button {
  background: $dark-cyan;
  border: none;
  border-radius: 5px;
  padding: 1rem 3.5rem;
  color: $white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  svg {
    margin-right: 1rem;
  }
}
